@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#menu-7 .navbar-toggler {
  color: #000000;
}
#menu-7 .nav-link {
  font-family: 'Montserrat', sans-serif;
}
#header1-0 H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 84px;
  color: #ffffff;
  text-align: center;
}
#content1-2 P {
  text-align: center;
  font-size: 20px;
}
#footer1-f P {
  color: #000000;
}
