

body {
	font-family: "Ubuntu Mono";
	margin: 0;
}

a {
	font-size: 14px;
	letter-spacing: 3px;
	width: 25%;
	text-align: center;
	margin: 15px;
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 200%;
	font-size: 14px;
	max-width: 80%;
}

.selected {
	text-decoration: underline;
}

.invisible {
	display: none;
}

#navigation {
	width: 60%;
	margin-bottom: 10%;
}

#leftset {
	position: relative;
	float: left;
  	margin: 0px;
  	width: 50%;
  	height: 100%;

	background-image: url("evolution-trace.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}

#rightset {
	position: relative;
	float: right;
  	margin: 0px;
  	width: 50%;

  	top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


@media (max-width : 1000px) {

#leftset {
	position: relative;
	/*float: left;*/
  	margin: 0px;
  	width: 100%; /* mod*/
  	height: 100%; /* mod */

	background-image: url("evolution-trace.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}

#rightset {
	position: relative;
	/*float: right;*/
  	margin: 0px;
  	width: 100%; /* mod */

  	top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

}

