
#topbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 400px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 999;
	font-family: 'Nickelodeon Playoffs Lowercase';
}

#toplogo {
	display: block;
	width: 80%;
	margin: auto;
}

.toplink {
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	width: 25%;
	margin-top: 40px;
	color: #000000;
}

.toplink:hover {
	text-decoration: underline;
}

.toplinkselected {
	text-decoration: underline;
}

#slidercontainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    
	overflow-x: hidden;
	z-index: 998;
}

#slider {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0%;
	width: 400%;
	height: 200%;
	-webkit-transition: left 1.5s;
    transition: left 1.5s;
}

.slideitem {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 25%;
}

.slidecontent {
	opacity: 0.3;
	position: absolute;
	top: 400px;
	right: 0;
	left: 0;
	width: 50%;
	margin: auto;
	-webkit-transition: opacity 1.5s, top 2s;
    transition: opacity 1.5s, top 2s;
	font-family: 'Bitter Regular';
}

.sectiontitle {
	display: block;
	font-size: 110%;
	font-weight: bold;
	text-align: center;
}

.sectioncontent {
	font-size: 90%;
	line-height: 200%;
	text-align: justify;
}
