@font-face {
	font-family: 'QuicksandBook';
	src: url('../fonts/Quicksand_Book-webfont.eot');
	src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
		url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
		url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
	font-weight: normal;
	font-style: normal;}
body {
	color: #ffffff;
	background: #413f3b url("../images/bg.jpg");
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	margin: 0px;
	line-height: 1.2em;}
body, html {
	height: 100%;}
a {
	color: #b9d5f2;
	text-decoration: none;}
a:hover {
	color: #ffffff;}
.header {
	background: rgba(0, 0, 0, 0.7);
	padding: 0px 0px 0px 0px;
	height: 80px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;
	font-size: 105%;}
.nav {
	padding: 45px 0px 0px 0px;
	text-align: center;}
.logo {
	padding-top: 10px;}
.main {
	background-image: url("../images/main.jpg");
	background-size: cover;
	height: 100%;
	border-bottom: 1px solid #222222;}
.wrapper {
	width: 960px;
	margin: 0px auto;
	text-align: left;}
.vertical{
	position: relative;
	top: 30%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);}
h1, h2{
	font-weight: normal;
	line-height: 1.3em;}
h1 {	
	font-size: 240%;}
.more {
	padding: 10px;}
.more p {
	padding: 5px 0px 15px 0px;}
.anchor {
	position: relative;
	padding-top: 100px;}
.footer {
	clear: both;
	background: rgba(0, 0, 0, 0.2);
	padding-right: 20px;}
.footer p {
	color: #cccccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	text-align: right;}
